<div class="container my-5 border-container">
  <div class="p-3">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <div class="first-part d-flex">
          <h6><i class="fa fa-pencil-square" aria-hidden="true"></i> PostTittle</h6>
          <h6 class="mx-2">By</h6>
          <h6>Someone</h6>
        </div>
        <div class="second-part mx-5 px-5">
          <p><i class="fa fa-clock-o" aria-hidden="true"></i> 9 days ago</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="custom-main-p px-4">
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
      </div>
    </div>
  </div>
  <div class="row mx-1 mt-1 mb-4 border-likes-comments">
    <div class="d-flex justify-content-between">
      <div class="comments-number">
        <p><i class="fa fa-heart-o fa-lg mx-2 text-danger" aria-hidden="true"></i><span>100</span> Likes</p>
      </div>
      <div class="comments-number-left">
        <p><i class="fa fa-comments-o mx-2 custom-i" aria-hidden="true"></i><span>50</span> Comments</p>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="new-comment mx-5">
      <input type="text" class="form-control custom-radius" placeholder="write your comment">
    </div>
    <div class="row mx-5 mb-2 custom-border special-sm">
      <div class="col-12 d-flex justify-content-between">
        <div class="first-part d-flex">
          <img src="assets/images/user1.png" class="img-fluid userimg" alt="">
          <h6 class="custom-h">username</h6>
        </div>
        <div class="second-part mx-5">
          <p class="mx-2 custom-h"><i class="fa fa-clock-o" aria-hidden="true"></i> 9 days ago</p>
        </div>
      </div>
      <div class="col-12 mt-3 custom-p-sm">
        <div class="comment-content mx-4">
          <p class="custom-p">
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
        </div>
      </div>
      <div class="tools_comment mx-4 custom-p">
        <a class="like" href="#">Like</a>
        <span aria-hidden="true"> · </span>
        <a class="replay" href="#">Reply</a>
        <span aria-hidden="true"> · </span>
        <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
        <span aria-hidden="true"> · </span>
        <span>26m</span>
      </div>
    </div>
    <div class="row mx-5 mb-2 custom-border special-sm">
      <div class="col-12 d-flex justify-content-between">
        <div class="first-part d-flex">
          <img src="assets/images/user1.png" class="img-fluid userimg" alt="">
          <h6 class="custom-h">username</h6>
        </div>
        <div class="second-part mx-5">
          <p class="mx-2 custom-h"><i class="fa fa-clock-o" aria-hidden="true"></i> 9 days ago</p>
        </div>
      </div>
      <div class="col-12 mt-3 custom-p-sm">
        <div class="comment-content mx-4">
          <p class="custom-p">
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
        </div>
      </div>
      <div class="tools_comment mx-4 custom-p">
        <a class="like" href="#">Like</a>
        <span aria-hidden="true"> · </span>
        <a class="replay" href="#">Reply</a>
        <span aria-hidden="true"> · </span>
        <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
        <span aria-hidden="true"> · </span>
        <span>26m</span>
      </div>
    </div>
    <div class="row mx-5 mb-2 custom-border special-sm">
      <div class="col-12 d-flex justify-content-between">
        <div class="first-part d-flex">
          <img src="assets/images/user1.png" class="img-fluid userimg" alt="">
          <h6 class="custom-h">username</h6>
        </div>
        <div class="second-part mx-5">
          <p class="mx-2 custom-h"><i class="fa fa-clock-o" aria-hidden="true"></i> 9 days ago</p>
        </div>
      </div>
      <div class="col-12 mt-3 custom-p-sm">
        <div class="comment-content mx-4">
          <p class="custom-p">
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
        </div>
      </div>
      <div class="tools_comment mx-4 custom-p">
        <a class="like" href="#">Like</a>
        <span aria-hidden="true"> · </span>
        <a class="replay" href="#">Reply</a>
        <span aria-hidden="true"> · </span>
        <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
        <span aria-hidden="true"> · </span>
        <span>26m</span>
      </div>
    </div>
    <div class="row mx-5 mb-2 custom-border special-sm">
      <div class="col-12 d-flex justify-content-between">
        <div class="first-part d-flex">
          <img src="assets/images/user1.png" class="img-fluid userimg" alt="">
          <h6 class="custom-h">username</h6>
        </div>
        <div class="second-part mx-5">
          <p class="mx-2 custom-h"><i class="fa fa-clock-o" aria-hidden="true"></i> 9 days ago</p>
        </div>
      </div>
      <div class="col-12 mt-3 custom-p-sm">
        <div class="comment-content mx-4">
          <p class="custom-p">
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
        </div>
      </div>
      <div class="tools_comment mx-4 custom-p">
        <a class="like" href="#">Like</a>
        <span aria-hidden="true"> · </span>
        <a class="replay" href="#">Reply</a>
        <span aria-hidden="true"> · </span>
        <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
        <span aria-hidden="true"> · </span>
        <span>26m</span>
      </div>
    </div>
    <div class="row mx-5 mb-2 custom-border special-sm">
      <div class="col-12 d-flex justify-content-between">
        <div class="first-part d-flex">
          <img src="assets/images/user1.png" class="img-fluid userimg" alt="">
          <h6 class="custom-h">username</h6>
        </div>
        <div class="second-part mx-5">
          <p class="mx-2 custom-h"><i class="fa fa-clock-o" aria-hidden="true"></i> 9 days ago</p>
        </div>
      </div>
      <div class="col-12 mt-3 custom-p-sm">
        <div class="comment-content mx-4">
          <p class="custom-p">
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
        </div>
      </div>
      <div class="tools_comment mx-4 custom-p">
        <a class="like" href="#">Like</a>
        <span aria-hidden="true"> · </span>
        <a class="replay" href="#">Reply</a>
        <span aria-hidden="true"> · </span>
        <i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
        <span aria-hidden="true"> · </span>
        <span>26m</span>
      </div>
    </div>
    <div class="row my-3 mx-5">
      <button class="show_more" type="button">Load 5 more comments</button>
    </div>
  </div>
</div>
